httplib2==0.20.4
git+https://github.com/pysimplesoap/pysimplesoap@c77548d38fa365d108a09857f72705ea57587383
git+https://github.com/ingadhoc/pyafipws@py3k
git+https://github.com/OCA/openupgradelib/@master
